.home_body{
    background-color:#D0D9B2;
    background-size:auto;
}
body{
    position:static;
    margin:0;
    color:#4F592E;
    background-color:grey;
}
.showcase{
    color:red;
    font-family:'BaksoSapi';
}
header{
    font-size:18px;
}