.home_body{
    background-color:#9FA688;
    background-size:auto;
    margin:0px;
}

body{
    position:static;
    color:#4F592E;
}

header{
    font-family:'Caveat Brush', cursive;
    font-size:larger;
    text-align:center;
    background-color:#D0D9B2;
    padding:0px;
}
.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 10px;
}

.enlarge{
    transition:all .2s ease-in-out;
}

.enlarge:hover {
    transform:scale(1.1);
    transition:500ms;
}

.showcase{
    background-image:url("assets/paper.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    color:#565949;
    font-family:'Gloria Hallelujah', cursive;
    font-size:10px;
    padding:20px;
    min-height:100%;
}

h1{
    color:#889b4b;
}

h2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.05)),url(assets/paper.png);
    padding:20px;
    box-shadow:1px 1px 10px;
}

footer{
    font-family:'Caveat Brush', cursive;
    font-size:larger;
    text-align:right;
    background-color:#D0D9B2;
    padding:15px;
}



/* Dropdown menu CSS */

.dropbtn {
    font-family:'Caveat Brush', cursive;
    padding:10px;
    border: none;
    cursor: pointer;
    transition:all .2s ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn:hover {
    transform:scale(1.1);
    transition:500ms;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-image:linear-gradient(rgba(0, 0, 0, 0.02),rgba(0, 0, 0, 0.02)),url(assets/paper.png);
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown_content a {
    color:#9FA688;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    color:#4F592E;
    background-image:linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.05)),url(assets/paper.png);
}

.show {
    display: block;
    box-shadow:1px 1px 10px;
}
